<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>AuthenticationServlet</servlet-name>
        <servlet-class>org.servlet.AuthenticationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>org.servlet.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayProjects</servlet-name>
        <servlet-class>org.servlet.project.DisplayProjects</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayProjects</servlet-name>
        <url-pattern>/projects</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProject</servlet-name>
        <servlet-class>org.servlet.project.AddProject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProject</servlet-name>
        <url-pattern>/add-project</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteProject</servlet-name>
        <servlet-class>org.servlet.project.DeleteProject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProject</servlet-name>
        <url-pattern>/delete-project</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateProject</servlet-name>
        <servlet-class>org.servlet.project.UpdateProject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProject</servlet-name>
        <url-pattern>/update-project</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewProject</servlet-name>
        <servlet-class>org.servlet.project.ViewProject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewProject</servlet-name>
        <url-pattern>/view-detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayVehicles</servlet-name>
        <servlet-class>org.servlet.resource.vehicle.DisplayVehicles</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayVehicles</servlet-name>
        <url-pattern>/vehicles</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddVehicle</servlet-name>
        <servlet-class>org.servlet.resource.vehicle.AddVehicle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddVehicle</servlet-name>
        <url-pattern>/add-vehicle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteVehicle</servlet-name>
        <servlet-class>org.servlet.resource.vehicle.DeleteVehicle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteVehicle</servlet-name>
        <url-pattern>/delete-vehicle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateVehicle</servlet-name>
        <servlet-class>org.servlet.resource.vehicle.UpdateVehicle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateVehicle</servlet-name>
        <url-pattern>/update-vehicle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayEquipments</servlet-name>
        <servlet-class>org.servlet.resource.equipment.DisplayEquipments</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayEquipments</servlet-name>
        <url-pattern>/equipments</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddEquipment</servlet-name>
        <servlet-class>org.servlet.resource.equipment.AddEquipment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEquipment</servlet-name>
        <url-pattern>/add-equipment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateEquipment</servlet-name>
        <servlet-class>org.servlet.resource.equipment.UpdateEquipment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateEquipment</servlet-name>
        <url-pattern>/update-equipment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteEquipment</servlet-name>
        <servlet-class>org.servlet.resource.equipment.DeleteEquipment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteEquipment</servlet-name>
        <url-pattern>/delete-equipment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayMaterials</servlet-name>
        <servlet-class>org.servlet.resource.material.DisplayMaterials</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayMaterials</servlet-name>
        <url-pattern>/materials</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddMaterial</servlet-name>
        <servlet-class>org.servlet.resource.material.AddMaterial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMaterial</servlet-name>
        <url-pattern>/add-material</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateMaterial</servlet-name>
        <servlet-class>org.servlet.resource.material.UpdateMaterial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateMaterial</servlet-name>
        <url-pattern>/update-material</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteMaterial</servlet-name>
        <servlet-class>org.servlet.resource.material.DeleteMaterial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteMaterial</servlet-name>
        <url-pattern>/delete-material</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplaySupervisors</servlet-name>
        <servlet-class>org.servlet.employee.supervisor.DisplaySupervisors</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplaySupervisors</servlet-name>
        <url-pattern>/supervisors</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddSupervisor</servlet-name>
        <servlet-class>org.servlet.employee.supervisor.AddSupervisor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSupervisor</servlet-name>
        <url-pattern>/add-supervisor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateSupervisor</servlet-name>
        <servlet-class>org.servlet.employee.supervisor.UpdateSupervisor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateSupervisor</servlet-name>
        <url-pattern>/update-supervisor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteSupervisor</servlet-name>
        <servlet-class>org.servlet.employee.supervisor.DeleteSupervisor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteSupervisor</servlet-name>
        <url-pattern>/delete-supervisor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayTeams</servlet-name>
        <servlet-class>org.servlet.employee.team.DisplayTeams</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayTeams</servlet-name>
        <url-pattern>/teams</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddTeam</servlet-name>
        <servlet-class>org.servlet.employee.team.AddTeam</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTeam</servlet-name>
        <url-pattern>/add-team</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteTeam</servlet-name>
        <servlet-class>org.servlet.employee.team.DeleteTeam</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTeam</servlet-name>
        <url-pattern>/delete-team</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateTeam</servlet-name>
        <servlet-class>org.servlet.employee.team.UpdateTeam</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateTeam</servlet-name>
        <url-pattern>/update-team</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayTasks</servlet-name>
        <servlet-class>org.servlet.task.DisplayTasks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayTasks</servlet-name>
        <url-pattern>/tasks</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddTask</servlet-name>
        <servlet-class>org.servlet.task.AddTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTask</servlet-name>
        <url-pattern>/add-task</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateTaskStatus</servlet-name>
        <servlet-class>org.servlet.task.UpdateTaskStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateTaskStatus</servlet-name>
        <url-pattern>/update-task-status</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewTask</servlet-name>
        <servlet-class>org.servlet.task.ViewTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewTask</servlet-name>
        <url-pattern>/view-task</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateTask</servlet-name>
        <servlet-class>org.servlet.task.UpdateTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateTask</servlet-name>
        <url-pattern>/update-task</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExportResources</servlet-name>
        <servlet-class>org.servlet.resource.ExportResources</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportResources</servlet-name>
        <url-pattern>/export-resources</url-pattern>
    </servlet-mapping>
</web-app>
